*{
    margin: 0;
    padding: 0;
    background-color: black;
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.out{
    height: 450px;
    width: 300px;
    border: 3px rgb(82, 77, 77) solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(37, 36, 36);
}
.inner{
    font-size: 25px;
    padding-left: 15px;
    border: 2px black solid;
    height: 80px;
    width: 240px;
    margin: 5px;
    color: white;
    border-radius: 10px;
    text-align: left;
}
.heading{
    color: white;
    font-size: 50px;
    display: inline;
    width: 250px;
    padding-left: 8px;
}
.inner:hover{
    background-color: white;
    color: black;
    width: 300px;
    height: 50px;
}
#one{
    border: 5px white solid;
    border-radius: 8px;
    height: 600px;
    width: 800px;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-content: center;
}
iframe{
    margin: auto;
    border: 3px yellow solid;
    border-radius: 5px;
    height: 90%;
    width: 90%;
    box-shadow: 5px 5px 2px 1px;
    padding: auto;
}
p{
    color: white;
    width: 200px;
    text-align: center;
    background-color:  rgb(37, 36, 36);
    padding-left: 7px; 
    font-size: 10px;
}
p:hover{
    font-size: 13px;
}
a{
    text-decoration: none;
    font-size: 50px;
}